@font-face {
  font-family: 'Roboto-Regular';
  	src:url('Roboto-Regular.ttf');
  }



body{
	font-family: Roboto-Regular;
}

footer {
	position:fixed;
	bottom:0%;
	width:100%;
}

@media only screen and (max-width:800px) {
	footer {
		position:relative;
		bottom:0%;
	}
}

.btn-blue{
	background-color:#009DE0;
	color:white;
}
